<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(0, 0, 0, .9);">
    <div class="container px-5">
        <a class="navbar-brand" href="#">LiftWise</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarResponsive"
                aria-expanded="@(!collapseNavMenu)" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @(collapseNavMenu ? "" : "show")" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="btn btn-outline-light fw-bold m-1" href="profile">
                        Profilo <i class="bi bi-person-circle"></i>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="btn btn-outline-light fw-bold m-1" href="">
                        Home <span class="oi oi-home" aria-hidden="true"></span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
