@page "/"

<h1>Bentornato, John</h1>

<div class="container-fluid">
	<div class="row gap-3">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">FitUP</h5>
					<h6 class="card-subtitle mb-2 text-muted">Via I. Newton, 11, 09131 Cagliari CA</h6>
					<span class="badge rounded-pill bg-success">23 posti disponibili</span>
					<span class="badge rounded-pill bg-success">Aperto H24</span>
					@* <a href="#" class="card-link">Prenota</a> *@
				</div>
			</div>
		</div>
	</div>
</div>